body {
    font-family: Arial, sans-serif;
    background-color: rgba(175, 245, 70, 0.349);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white
    padding: 10px 0;
    text-align: center;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#destaque {
    text-align: center;
    padding: 80px ;
    width: 100%;
    height: 800px;
    background: url('/Imagens/aqualinda.jpg') no-repeat center center;
    background-size: cover;
}

#destaque h1 {
    font-size: 80px;
    font-family: sans-serif;
    color: rgb(8, 8, 73);
}

#texto-destaque {
    background-color: rgba(61, 99, 4, 0.507);
    padding: 20px;
    text-align: center;
}

#conteudo {
    padding: 50px;
    text-align: justify;
}

#conteudo button {
    margin: 30px;
    padding: 50% 50px;
    background-color: #333;
    color: white;
    border: 20px;
    cursor: pointer;
}

.fotos {
    display: inline-block;
    margin: 10px;
    text-align: center;
   
}

.fotos img {
    width: 600px;
    height: auto;
}

.icones {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.icones a {
    text-decoration: none;
    color: inherit; /* Mantém a cor original do ícone */
}

.icones i {
    font-size: 50px; /*tamanho do ícone*/

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
